{% load static %}

<html>
	<head>
		<title>
			{% if pagetitle %} {{ pagetitle }} {% else %} Rstrnt {% endif %}
		</title>
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<!--Custom CSS Styling-->
		{% block customcss %}
		{% endblock %}
		<script>
			
		</script>
		<!--Custom JS Scripts (in case responsiveness is added)-->
		{% block customjs %}
		{% endblock %}
	</head>

	<body>
		<!--HTML body-->
		<nav class="navbar">
			<div class="navbar-head">Rstrnt</div>
			<a href="{% url 'index' %}" class="navbar-elm">Home</a>
			<a href="{% url 'menu' %}" class="navbar-elm">Menu</a>
			<a href="{% url 'add_item' %}" class="navbar-elm">Add Item</a>
		</nav>
		{% block pagebody %}
		{% endblock %}
	</body>
</html>